:root {
  --primary: #ddd;
  --dark: #333;
  --darker: rgb(32, 32, 32);
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  height: 100%;
  width: auto;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-size: cover;
  background-attachment: scroll;
  background-image: url('images/space1.jpg');
  background-repeat: no-repeat;
  /*object-fit: cover;
  background-attachment: scroll;
  background-attachment: fixed;*/
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

.btn {
  background: var(--dark);
  color: var(--light);
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  padding: 0.6rem 1.3rem;
  font-size: 20px;
  text-decoration: none;
  border: 0;
}
.btn:hover {
  background-color: var(--primary);
  color: var(--dark);
}
.btn:active {
  background-color: var(--light);
  color: var(--dark);
}

.btns {
  display: inline;
  text-align: center;
}

.btn2 {
  background: var(--dark);
  color: var(--light);
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0.3rem 0.3rem;
  font-size: 16px;
  text-decoration: none;
  border: 0;
}

.btn2:hover {
  background-color: var(--primary);
  color: var(--dark);
}
.btn2:active {
  background-color: var(--light);
  color: var(--dark);
}

.gamesbtns {
  display: grid;
  text-align: center;
}

#myFace {
  position: absolute;
  width: 20vw;
  height: auto;
  border-radius: 50%;
}

.contdiv {
  margin-top: 10%;
  width: 100%;
  height: 300px;
  background-color: rgba(87, 112, 112,0.2);
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 80%;
  text-align: center;
  color: var(--darker);
}

/* Top center image */
.top-center {
  position: absolute;
  top: 8px;
  left: 40%;
}

/* Centered text */
.centered {
  position: absolute;
  color: beige;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  font-size: 50px;
}

.centered2 {
  position: absolute;
  color: beige;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -10%);
  font-size: 30px;
}

/*############ GAMES #############*/

#overText {
  font-size: 30px;
  padding: 0;
  width: auto;
  margin: auto;
  text-align: justify;
  color: rgb(179, 167, 171);
}

.scoreboard {
  color: rgb(211, 211, 202);
  font-family: Arial, Helvetica, sans-serif;
}

#startBtn {
  margin-left: 40%;
  width: 20%;
}

#myCanvas {
  padding: 0;
  margin: auto;
  display: block;
}

fieldset {
  width: auto;
  height: fit-content;
}

#outerdiv {
  display: flex;
  grid-gap: 20px;
  height: fit-content;
}
